<% posts.each do |post| %>
	<% post = post.to_json %>
	
	<h3><%= JSON.parse(post)["title"] %></h3>
	
	<div>
		<%= JSON.parse(post)["text"] %>
	</div>
	
	<p>
		<a href="/posts/<%= JSON.parse(post)["url"] %>">post</a>
	</p>

	<p>	
	Tags:
	<% JSON.parse(post)["tags"].each do |tag| %>
		<a href="/posts/tag/<%= tag %>"><%= tag %></a>
	<% end %>
	</p>
<% end %>